/* Global Styles */
body {
    background-color: lightgray; /* Fondo cambiado a lightgray */
    color: #000; /* Texto negro para mayor contraste */
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; /* Mejora la visualización en dispositivos Apple */
}

/* Recuperar Contraseña Container */
.container {
    background: #fff; /* Fondo del contenedor cambiado a blanco */
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Sombras más suaves */
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    border: 1px solid #000; /* Contorno negro */
    position: relative;
    transform: translateZ(0);
}

/* Form */